
  <row>
    <columns class="footer" small="12" large="12">
      <p>
        Telefony kontaktowe: <b>1 9999*</b> lub +48 61 81 19999* (dzwoniąc z zagranicy)
      </p>
      <p class="footer-smaller">
        *opłata za minutę zgodnie z taryfą danego operatora
      </p>
      <br />
      <p class="footer-smaller">
        Nadawcą tej wiadomości jest Santander Bank Polska S.A.<br />
        Wiadomość została wygenerowana automaycznie i wysłana za zgodą odbiorcy - prosimy na nią nie odpowiadać<br />
        Identyfikator wiadomości: 0319272154
      </p>
    </columns>
  </row>
</container>
